<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афиша</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>

    <main>
        <div class="film">
            <form action="check-film" method="post"></form>
            <div>
                <img src="/images/Avatar.jpg" alt="Avatar">
            </div>
            
            <h1>Аватар</h1>
            <div class = "description">Джейк Салли — бывший морской пехотинец, прикованный к инвалидному креслу. Несмотря на немощное тело, Джейк в душе по-прежнему остается воином. Он получает задание совершить путешествие в несколько световых лет к базе землян на планете Пандора, где корпорации добывают редкий минерал, имеющий огромное значение для выхода Земли из энергетического кризиса.</div>
            
            
                <button type="submit">Забронировать билет</button>
            </form>
        </div>

        <div class="film">
            <div >
                <img src="/images/bust.jpg" alt="Бесславные ублюдки">
            </div>
            
            <h1>Бесславные ублюдки</h1>
            <div class = "description">Вторая мировая война, в оккупированной немцами Франции группа американских солдат-евреев наводит страх на нацистов, жестоко убивая и скальпируя солдат..</div>
            <a href="">Забронировать билет</a>
        </div>

        <div class="film">
            <div >
                <img src="/images/stalker.jpg" alt="Сталкер">
            </div>
            <h1>Сталкер</h1>
            <div class = "description">В этой ленте, снятой по мотивам повести братьев Стругацких «Пикник на обочине», действие происходит в некой запретной Зоне, где, по слухам, существует комната, где исполняются самые заветные желания.</div>
            <a href="">Забронировать билет</a>
        </div>

    </main>
</body>
</html>