<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filmname %></title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/brony.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <div class="headname"><h1><%= text %></h1></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <div class='result'>
      </div>
      <div class='cinemaHall zal1'></div>
      <script src="/js/brony.js"></script>
    
    
   

    <main>
        
    </main>
</body>
</html>