<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>

    <main>
        <div class="mainPage">
            <h1>Главная страница</h1>
            <h3>Здесь описание, какой наш сайт крутой, смотрите только в нашем кинотеатре и тд  и тп</h3>
            <p>Посмотреть список фильмов вы можете по <a href="/afisha"> ссылке</a></p>
        </div>
        
        
        
    </main>
</body>
</html>