<header>
    <span>MOVIE TICKETS</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/afisha"> Афиша</a>
    </nav>
    <form method ="post"  action="/check-films">
        <input type="text" name="filmname" placeholder="Название фильма">
        <button type="submit">Найти</button>
    </form>
</header>